@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
}

.heading {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
   
}


.add {
    font-size: 30px;
    height: 50px;
    border-radius: 50px;
}

.add-div {
    text-align: center;
    padding-top: 20px;
}


.card {
    border: 2px solid grey;
    background-color: #212529;
    color: white;
    margin-bottom: 20px;
    margin-top: 10px;
}


.info {
    padding-bottom: 10px;
    padding-left: 10px;
}

.info:first-child {
    padding-top: 10px;
}

